

<div class="header">
  <div ng-show="user.isAuthenticated && user.emailVerified" class="hanburger-menu">
    <a ng-click="toggleMenu()">
      <svg id="iconsvg" viewBox="0 0 48 48" style="background-color:#ffffff00" version="1.1"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">

        <g id="exit_to_app" style="display:none">
          <path d="M20.2,31.2L23,34l10-10L23,14l-2.8,2.8l5.2,5.2H6v4h19.3L20.2,31.2z" fill="#336699"/>
          <path d="M38,6H10c-2.2,0-4,1.8-4,4v8h4v-8h28v28H10v-8H6v8c0,2.2,1.8,4,4,4h28c2.2,0,4-1.8,4-4V10C42,7.8,40.2,6,38,6z" fill="#336699"/>
        </g>
        <g id="hamburguer" style="display:none">
          <path d="M6,44l3-3l3,3l3-3l3,3l3-3l3,3l3-3l3,3l3-3l3,3l3-3l3,3V4l-3,3l-3-3l-3,3l-3-3l-3,3l-3-3l-3,3l-3-3l-3,3l-3-3L9,7L6,4V44z" fill="#336699"/>
          <path d="M36,34H12v-4h24V34z" fill="#FFF"/>
          <path d="M36,26H12v-4h24V26z" fill="#FFF"/>
          <path d="M36,18H12v-4h24V18z" fill="#FFF"/>
        </g>
      </svg>
    </a>
  </div>

  <h3 class="company text-center"><img src="assets/images/logo.png" alt="logo"></h3>

  <nav ng-show="user.isAuthenticated && user.emailVerified" ng-app-nav></nav>
  <div class="clearfix"></div>
  <!--  -->

  <!-- <ul id="main-nav" class="nav nav-pills pull-right">
    <li ui-sref-active="active"><a ui-sref="home" href="#"><i class="glyphicon glyphicon-home"></i></a></li>
    <li class="dropdown" dropdown>
      <a href class="dropdown-toggle" dropdown-toggle>Pokemon <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li ui-sref-active="active"><a ui-sref="pokemonList">List</a></li>
        <li ui-sref-active="active"><a ui-sref="pokemonNew">New</a></li>
        <li ui-sref-active="active"><a ui-sref="newRecord">New record</a></li>
      </ul>
    </li>
    <li class="dropdown" dropdown>
      <a href class="dropdown-toggle" dropdown-toggle><i class="glyphicon glyphicon-bell"></i> <span class="badge">2</span> <span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-menu-right" style="max-width: 350px; min-width: 300px; right: -110%;" role="menu">
        <li style="text-align:center">Notifications</li>
        <li class="divider"></li>
        <li>
          <a ui-sref="notification">
            <h6>C. Pokemon Heredia, 01-08-2014</h6>
            <h4>Acceso info Pokemon</h4>
            <p style="white-space: normal;">Lorem ipsum dolor sit amet, consectetur  adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </a>
        </li>

        <li>
          <a ui-sref="notification">
            <h6>C. Pokemon, 01-09-2014</h6>
            <h4>Centro Pokemon</h4>
            <p style="white-space: normal;">Lorem ipsum dolor sit amet, consectetur  adipisicing tempor incididunt.</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown" dropdown>
      <a href class="dropdown-toggle" dropdown-toggle>{{ user.username }} <span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li ui-sref-active="active"><a ui-sref="profile">Account settings</a></li>
        <li class="divider"></li>
        <li ui-sref-active="active"><a ui-sref="notification">Notification Center</a></li>
        <li><a href="#">Contact us</a></li>
        <li class="divider"></li>
        <li><a ui-sref="login" ng-click="logout()">Logout</a></li>
      </ul>
    </li>
    <li>
    </li>
  </ul> -->
</div>
