$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

// inject:scss
@import "../pages/home/_home.scss";
@import "../pages/notification/_notification.scss";
@import "../pages/pet/_pet.scss";
@import "../pages/profile/_profile.scss";
@import "../pages/profile/login/_login.scss";
@import "../common/directives/footer/_footer.scss";
@import "../common/directives/nav/_nav.scss";
// endinject

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.footer {
  text-align: center;
}

.page-header {
  margin-top: 15px;
  h1 {
    margin-top: 5px;
  }
}


.header {
  .company {
    @media (max-width: $screen-xs-min) {
      float: none !important;
      display: block;
      text-align: center;
      font-size: 30px;
    }
  }

  .badge {
    background-color: #5bc0de;
  }

  .nav-pills {
    margin-top: 10px;
    font-size: 20px;

    @media (max-width: $screen-xs-min) {
      float: none !important;
      display: block;
      text-align: center;
      font-size: 15px;

      > li {
        float: none;
        display: inline-block;
      }
    }
  }
}

.page-header h1 {
  @media (max-width: $screen-xs-min) {
    font-size: 33px;
  }
}
