
<div class="row">
  <div class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8">
    <div class="page-header">
      <h1>
        <a onclick="window.history.back()" href="">
          <i class="glyphicon glyphicon-chevron-left"></i>
        </a> Create <small>new</small> Pokemon
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">

    <div ng-show="okRequest" class="alert alert-info" role="alert">
      <p>Password reset request was sent successfully !</p>
    </div>


    <div ng-show="errorSubmitted" class="alert alert-danger" role="alert">
      <p>{{ user.errorMessage }}</p>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8">
    <form novalidate role="form" name="newPetForm" >

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group" ng-class="{ 'has-error': submitted && newPetForm.name.$error.required }">

            <!-- error -->
            <span class="label label-danger" ng-show="submitted && newPetForm.name.$error.required">Name required!</span>

            <input required type="text" name="name" ng-model="pet.name" class="form-control input-lg" placeholder="Name">
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
         <div class="input-group form-group" ng-class="{ 'has-error': submitted && newPetForm.weigth.$error.required || newPetForm.weigth.$error.number || newPetForm.weigth.$error.max}">
            <!-- erros -->
            <span class="label label-danger" ng-show="submitted && newPetForm.weigth.$error.required">Weigth required!</span>
            <span class="label label-danger" ng-show="submitted && newPetForm.weigth.$error.number">Please use only numbers</span>
            <span class="label label-danger" ng-show="submitted && newPetForm.weigth.$error.max">is it a horse ?</span>

            <input required min="0.1" max="100" type="number" maxlength="4" name="weigth" ng-model="pet.weigth" class="form-control input-lg" placeholder="Weigth">
            <span class="input-group-addon">KG</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <input type="text" ng-model="selected" typeahead="brand for brand in brands | limitTo:8" class="form-control input-lg" placeholder="Food brand">
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <select class="form-control input-lg">
              <option>Pet type</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
           </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">

          <div class="form-group">
            <input type="datetime" class="form-control input-lg" placeholder="Datebirth">
          </div>

        </div>
        <div class="col-xs-12 col-md-6">

          <div class="form-group">
            <select class="form-control input-lg">
              <option>Race</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
           </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group form-inline">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Male
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Female
              </label>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 col-md-3 ">

          <div class="form-group form-inline">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Pedigree
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Cross dogs
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> On sale
              </label>
            </div>
          </div>

        </div>
        <div class="col-xs-8 col-md-9">
          <div class="form-group">
            <textarea class="form-control input-lg" rows="4"></textarea>
           </div>
        </div>
      </div>

      <button type="submit" ng-click="createPet()" class="btn btn-primary btn-lg btn-lg btn-block">Submit New Pokemon</button>


      <div class="checkbox">
        <label>
          <input type="checkbox" checked="true"> select new pet as default
        </label>
      </div>

    </form>
  </div>
</div>
