<div class="row">
  <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">
    <div class="page-header">
      <h1 class="text-center">
        Request password
      </h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">

    <div ng-show="okRequest" class="alert alert-info" role="alert">
      <p>Password reset request was sent successfully !</p>
    </div>


    <div ng-show="errorSubmitted" class="alert alert-danger" role="alert">
      <p>{{ user.errorMessage }}</p>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">

    <div class="panel panel-default">
      <div class="panel-body">
        <br>
        <form novalidate name="passwordForm" class="form-horizontal" role="form">

          <div class="form-group" ng-class="{ 'has-error': submitted && passwordForm.email.$error.required }">
            <div class="col-md-12">
              <span class="label label-danger" ng-show="submitted && passwordForm.email.$error.required">Password required!</span>
              <span class="label label-danger" ng-show="submitted && !passwordForm.email.$valid">Bad email!</span>
              <input type="email" name="email" ng-model="user.email" required class="form-control input-lg" placeholder="Email">
            </div>
          </div>

          <!-- Save Aditional Info -->
          <div class="form-group">
            <div class="col-md-12">
              <button ng-click="resetPassword()" ng-disabled="passwordForm.$invalid" class="btn btn-primary btn-lg btn-block">Request Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <p class="pull-left">Not have an account <a ui-sref="register">sign in</a></p>
    <a class="pull-right" ui-sref="login">login</a>

  </div>
</div>
