<div class="row">
  <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">
    <div class="page-header">
      <h1 class="text-center">
        <!-- <a href="">
          <i class="glyphicon glyphicon-chevron-left"></i>
        </a>  -->
        Login Form
      </h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">

    <div ng-show="confirmEmail" class="alert alert-info" role="alert">
      <p>Please confirm your email before login !</p>
    </div>

    <div ng-show="{{ accessDenied == 403 }}" class="alert alert-warning" role="alert">
      <p>Please login before start using the APP !</p>
    </div>

    <div ng-show="errorSubmitted && loginForm.$valid" class="alert alert-danger" role="alert">
      <p>{{ user.errorMessage }}</p>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">

    <div class="panel panel-default">
      <!-- <div class="panel-heading">Login</div> -->
      <div class="panel-body">
        <!-- <a ng-click="loginWithFacebook()" class="btn btn-primary btn-lg btn-block">Login with Facebook</a> -->
        <!-- <br> -->
        <form novalidate name="loginForm" class="form-horizontal" role="form">

          <div class="form-group" ng-class="{ 'has-error': submitted && loginForm.username.$error.required }">
            <div class="col-md-12">
              <span class="label label-danger" ng-show="submitted && loginForm.username.$error.required">username required!</span>
              <input type="text" name="username" ng-model="user.username" required class="form-control input-lg" placeholder="Username">
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': submitted && loginForm.password.$error.required }">
            <!-- <label for="inputPassword3" class="col-sm-3 col-md-4 control-label"></label> -->
            <div class="col-md-12">
              <span class="label label-danger" ng-show="submitted && loginForm.password.$error.required">Password required!</span>
              <input type="password" name="password" ng-model="user.password" required class="form-control input-lg" placeholder="Password">
            </div>
          </div>

          <!-- Save Aditional Info -->
          <div class="form-group">
            <div class="col-md-12">
              <button ng-click="login()" ng-disabled="loginForm.$invalid" class="btn btn-primary btn-lg btn-block">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <p class="pull-left">Not have an account <a ui-sref="register">sign in</a></p>
    <a class="pull-right" ui-sref="forgotPassword">forgot password</a>

  </div>
</div>
