
<div class="row">
  <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">
    <div class="page-header">
      <h1>
      <a ui-sref="home">
          <i class="glyphicon glyphicon-chevron-left"></i>
        </a> Pokemon <small>List</small>
      </h1>
    </div>
    <input type="text" ng-model="search.name" class="form-control" placeholder="Search for Pet">
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">
    <hr>
  </div>
</div>

<div class="row">
  <!--
  <div class="col-sm-4 col-md-3" ng-repeat="pet in pets | orderBy:'rank' | filter:search ">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{pet.name}}</h3>
        <p>{{pet.weigth}} KG</p>

        <div class="row">
          <div style="text-align: center; font-size: 400%" class="col-xs-4 col-sm-4 col-md-4">
            <a ui-sref="pet.edit" tooltip-placement="right" tooltip="Edit"><i style="color: #f0ad4e" class="glyphicon glyphicon-edit"></i></a>
          </div>
          <div style="text-align: center; font-size: 400%" class="col-xs-4 col-sm-4 col-md-4">
            <a ui-sref="pet.remove" tooltip-placement="right" tooltip="Delete"><i style="color: red" class="glyphicon glyphicon-remove"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
  -->



  <div ng-class="{ 'col-sm-offset-2 col-md-offset-3': pets.length == 1 }" class="col-sm-{{colsm}} col-md-{{colmd}}" ng-repeat="pet in pets | orderBy:'rank' | filter:search ">
    <div class="card-container">
      <div class="card">
          <div class="front">
              <div class="cover">
                <i id="pet-remove" ng-click="remove(pet)" class="glyphicon glyphicon-remove-sign"></i>
                <!-- <i ui-sref="edit(pet)" class="glyphicon glyphicon-edit"></i> -->

                  <!-- <img src="images/rotating_card_thumb2.png"> -->
              </div>
              <div class="user">
                  <img class="img-circle" alt="Pet Avatar" src="/assets/images/pets/01.jpg">
              </div>
              <div class="content">
                  <div class="main">
                      <h3 class="name" ng-bind="pet.name"></h3>
                      <p class="birthday" ng-clock> {{ pet.birthday.iso | timeago }} </p>
                      <!-- <p class="birthday" am-time-ago="pet.birthday.iso"></p> -->
                      <h5 ng-clock>"{{ pet.description }}"</h5>
                  </div>
                  <div class="footer">
                      <div class="rating">
                          <i class="glyphicon glyphicon-star"></i>
                          <i class="glyphicon glyphicon-star"></i>
                          <i class="glyphicon glyphicon-star"></i>
                          <i class="glyphicon glyphicon-star"></i>
                      </div>
                  </div>
              </div>
          </div> <!-- end front panel -->
          <!-- <div class="back">
              <div class="header">
                  <h5 class="motto">"140 caracteres of de descripcion hacerca de la mascota ..."</h5>
              </div>
              <div class="content">
                  <div class="main">
                      <h4 class="text-center">Experince</h4>
                      <p>In the project since 2011</p>
                      <h4 class="text-center">Areas of Expertise</h4>
                      <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                  </div>
              </div>
              <div class="footer">
                  <div class="social-links text-center">
                      <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                      <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                  </div>
              </div>
          </div> --> <!-- end back panel -->
      </div> <!-- end card -->
    </div> <!-- end card-container -->
  </div>

</div>
