
<div class="row">
  <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">
    <div class="page-header">
      <h1>
      <a ui-sref="home">
          <i class="glyphicon glyphicon-chevron-left"></i>
        </a> Pokemon <small>List</small>
      </h1>
    </div>
    <input type="text" ng-model="search.name" class="form-control" placeholder="Search for Pet">
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">
    <hr>
  </div>
</div>

<div class="row">

  <div ng-class="{ 'col-sm-offset-2 col-md-offset-3': pets.length == 1 }" class="col-sm-{{colsm}} col-md-{{colmd}}" ng-repeat="pet in pets | orderBy:'rank' | filter:search ">
    <div class="card-container">
      <div class="card" ng-class="{active:  pet.objectId == activePet }">
          <div class="front">
              <div class="cover">
                <i id="pet-active" ng-click="active(pet)"  class="glyphicon glyphicon glyphicon-heart"></i>
                <i id="pet-remove" ng-click="remove(pet)" class="glyphicon glyphicon-remove-sign"></i>
                <i id="pet-edit" ui-sref="pets.edit({ id: pet.objectId })" class="glyphicon glyphicon-edit"></i>
              </div>
              <div class="user">
                  <img class="img-circle" alt="Pet Avatar" src="/assets/images/pets/01.jpg">
              </div>
              <div class="content">
                  <div class="main">
                      <h3 class="name" ng-bind="pet.name"></h3>
                      <p class="birthday" ng-clock> {{ pet.birthday.iso | timeago }} </p>
                      <!-- <p class="birthday" am-time-ago="pet.birthday.iso"></p> -->
                      <h5 ng-clock>"{{ pet.description | truncate:40 }}"</h5>
                  </div>
                  <div class="footer">
                      <div class="rating">
                          <i class="glyphicon glyphicon-star"></i>
                          <i class="glyphicon glyphicon-star"></i>
                          <i class="glyphicon glyphicon-star"></i>
                          <i class="glyphicon glyphicon-star"></i>
                      </div>
                  </div>
              </div>
          </div> <!-- end front panel -->
          <!-- <div class="back">
              <div class="header">
                  <h5 class="motto">"140 caracteres of de descripcion hacerca de la mascota ..."</h5>
              </div>
              <div class="content">
                  <div class="main">
                      <h4 class="text-center">Experince</h4>
                      <p>In the project since 2011</p>
                      <h4 class="text-center">Areas of Expertise</h4>
                      <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                  </div>
              </div>
              <div class="footer">
                  <div class="social-links text-center">
                      <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                      <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                  </div>
              </div>
          </div> --> <!-- end back panel -->
      </div> <!-- end card -->
    </div> <!-- end card-container -->
  </div>

</div>
