<div class="row">
  <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">
    <div class="page-header">
      <h1>
        <a onclick="window.history.back()" href="">
          <i class="glyphicon glyphicon-chevron-left"></i>
        </a> Account Settings
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">

    <div ng-show="okName" class="alert alert-success" role="alert">
      <p>Your <strong>name</strong> has been updated successfully !</p>
    </div>

    <div ng-show="okPassword" class="alert alert-success" role="alert">
      <p>Your <strong>password</strong> has been updated successfully !</p>
    </div>

    <div ng-show="okAditionalInfo" class="alert alert-success" role="alert">
      <p>Your <strong>aditional info</strong> has been updated successfully !</p>
    </div>

    <div ng-show="errorSubmitted && (profileForm.$valid || passwordForm.$valid || aditionalForm.$valid)" class="alert alert-danger" role="alert">
      <p>{{ user.errorMessage }}</p>
    </div>

  </div>
</div>

<form novalidate name="profileForm" class="form-horizontal" role="form">

  <div class="form-group" ng-class="{ 'has-error': submitted && profileForm.name.$error.required || profileForm.name.$error.maxlength || profileForm.name.$error.minlength }">

    <label for="name" class="col-sm-3 col-md-4 control-label">Name</label>
    <div class="col-sm-7 col-md-5">
      <span class="label label-danger" ng-show="submitted && profileForm.name.$error.required">Name required!</span>
      <span class="label label-danger" ng-show="profileForm.name.$error.maxlength">Max 20 letters</span>
      <span class="label label-danger" ng-show="profileForm.name.$error.minlength">Min 3 letters</span>
      <input required type="text" name="name" ng-minlength="3" ng-maxlength="25" ng-model="user.name" class="form-control input-lg" id="name" placeholder="Name">
    </div>
  </div>

  <!-- Save Name -->
  <div class="form-group">
    <div class="col-sm-offset-3 col-md-offset-4 col-sm-7 col-md-5">
      <button ng-disabled="!profileForm.name.$valid" ng-click="saveName()" class="btn btn-primary btn-lg btn-block">Save name</button>
    </div>
  </div>
</form>

<form novalidate name="passwordForm" class="form-horizontal" role="form">

  <!-- <div class="form-group" ng-class="{ 'has-error': submittedPassword && passwordForm.password.$error.required || passwordForm.password.$error.minlength }"> -->
  <div class="form-group" ng-class="{ 'has-error': submittedPassword && passwordForm.password.$error.required || passwordForm.password.$error.minlength }">
    <label for="password" class="col-sm-3 col-md-4 control-label">Password</label>
    <div class="col-sm-7 col-md-5">
      <span class="label label-danger" ng-show="submittedPassword && passwordForm.password.$error.required">Password required!</span>
      <span class="label label-danger" ng-show="passwordForm.password.$error.minlength">Min 5 letters</span>
      <input ng-minlength="5" required type="password" name="password" ng-model="userInfo.password"  class="form-control input-lg" placeholder="Password">
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': submittedPassword && passwordForm.confirmPassword.$error.required }">
    <label for="confirmPasword" class="col-sm-3 col-md-4 hidden-xs control-label"></label>
    <div class="col-sm-7 col-md-5">
      <span class="label label-info" ng-if="passwordForm.password.$valid && userInfo.password == userInfo.confirmPassword">Passwords match!</span>
      <span class="label label-danger" ng-show="submittedPassword && passwordForm.confirmPassword.$error.passwordMatch">Confirm Passowrd do no match!</span>
      <input ng-disabled="!passwordForm.password.$valid" required type="password" name="confirmPassword" password-match data-match="userInfo.password" ng-model="userInfo.confirmPassword" class="form-control input-lg" placeholder="Confirm Password">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-md-offset-4 col-sm-7 col-md-5">
      <button ng-click="savePassword()" ng-disabled="!passwordForm.password.$valid" class="btn btn-primary  btn-lg btn-block">Save Password</button>
    </div>
  </div>
</form>

<form novalidate name="aditionalForm" class="form-horizontal" role="form">
  <div class="form-group">
    <label for="email" class="col-sm-3 col-md-4 control-label">Email</label>
    <div class="col-sm-7 col-md-5">
      <input disabled type="email" class="form-control input-lg" ng-model="user.email" id="email" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="username" class="col-sm-3 col-md-4 control-label">Username</label>
    <div class="col-sm-7 col-md-5">
      <input disabled type="text" class="form-control input-lg" id="username" ng-model="user.username"  placeholder="Username">
    </div>
  </div>
  <!-- <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 col-md-4 control-label">Aditional Info</label>
    <div class="col-sm-7 col-md-5">
      <input type="phone" class="form-control input-lg" id="phone" placeholder="Date of birth">
    </div>
  </div> -->

  <div class="form-group">
    <label for="temp" class="col-xs-3 col-md-4 control-label"></label>
    <div class="col-sm-7 col-md-5">
      <label class="radio-inline">
        <input type="radio" name="male" ng-model="user.gender" value="male">
        Male
      </label>
      <label class="radio-inline">
        <input type="radio" name="female" ng-model="user.gender" value="female">
        Female
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-xs-3 col-md-4 control-label"></label>
    <div class="col-sm-7 col-md-5">
      <div class="checkbox">
        <label>
          <input ng-model="user.allowEmails" type="checkbox"> Allows us to send you emails
        </label>
      </div>
      <!-- <div class="checkbox">
        <label>
          <input ng-model="" type="checkbox"> Show phone numbers to doctors
        </label>
      </div> -->
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-md-offset-4 col-sm-7 col-md-5">
      <button type="submit" ng-disabled="!aditionalForm.$dirty" ng-click="saveAditionalInfo()" class="btn btn-primary  btn-lg btn-block">Save Aditional Info</button>
    </div>
  </div>
</form>


