.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 5px;
  padding: 0 15px;

  span {
    display: block;
    width: 5px;
    height: 5px;
    margin-bottom: 2px;
    background: #ebeef1;
    border-radius: 5px;
  }
}
