// home custom
.pet-page {}


#pet-remove, #pet-edit, #pet-active {
  color: white;
  font-size: 2em;
  position: absolute; top:  10px;
  cursor: pointer;
  display: inline-block;

  &:hover {
    opacity: 0.8;
  }
}

#pet-remove {
  right: 10px;
}

#pet-edit {
  left: 10px;
}

#pet-active {
  left: 60px;

  .active & {
    color: rgb(213, 92, 92);
  }
}
