<nav ng-click="toggleMenu()" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu">
  <a ui-sref-active="active" ui-sref="home" href="#"><i class="glyphicon glyphicon-home"></i> home</a>
  <a ui-sref-active="active" ui-sref="pokemonList"><i class="glyphicon glyphicon-th-list"></i> list</a>
  <a ui-sref-active="active" ui-sref="pokemonNew"><i class="glyphicon glyphicon-camera"></i> new</a>
  <a ui-sref-active="active" ui-sref="newRecord"><i class="glyphicon glyphicon-file"></i> record</a>
  <a ui-sref-active="active" ui-sref="profile"><i class="glyphicon glyphicon-cog"></i> settings</a>
  <a ui-sref="login" ng-click="logout()"><i class="glyphicon glyphicon-off"></i> logout</a>

  <!--
    var body = document.body;
    var menu = document.getElementById( 'cbp-spmenu' )

    $(body).toggleClass('cbp-spmenu-push-toright')
    ;$(menu).toggleClass('cbp-spmenu-open' );
  -->
</nav>
